<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="fileReader" class="alex.reader.FileReader" />
       <bean id="consoleReader" class="alex.reader.ConsoleReader" />
       <bean id="todayReader" class="alex.reader.TodayReader" />

       <bean id="consoleFormatter" class="alex.formatter.ConsoleFormatter" />
       <bean id="textFormatter" class="alex.formatter.TextFormatter"/>
       <bean id="htmlFormatter" class="alex.formatter.HTMLFormatter"/>

       <bean id="consoleWriter" class="alex.writer.ConsoleWriter"/>
       <bean id="fileWriter" class="alex.writer.FileWriter"/>

       <bean id="calendarApp" class="alex.CalendarApp">
              <property name="reader" ref="fileReader" />
              <property name="formatter" ref="htmlFormatter"/>
              <property name="writer" ref="fileWriter"/>
       </bean>
</beans>